<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Ordering System</b> GENERIC</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Generic Store Login</p>

    <form ng-submit="lc.model.login(lc.model.user)">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Store ID" ng-model="lc.model.user.id">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" ng-model="lc.model.user.pass">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->